
<head>
  <title> Trailmix : Hiking the World </title>
</head>
<body>
  <div class='navbar navbar-fixed-top'>
    <div class='navbar-inner'>
      <div class='container-fluid'>
        <a class='brand' href='#'>trailmix</a>
        <ul class='nav pull-right'>
         {{> navLinks}}
        </ul>
      </div>
    </div>
  </div>
  <div class='container-fluid'>
    <div class='row-fluid'>
      <div class='span4'>
        {{> sideBar }}
      </div>
      <div class='span8'>
        {{> mapView }}
      </div>
    </div>
  </div>
  {{> modals}}
</body>

<template name='modals'>
  <div id='add-new-trail-modal' class='modal hide slide' tabindex='-1' role='dialog' aria-hidden='true'>
    <h2> new trail </h2>
    <form id='new-trail' name='new-trail'>
      <input class='trail-name' placeholder='Trail Name' type='text'>
      <input class='btn btn-primary' type='submit'>
    </form>
  </div>

  <div id='view-my-trails-modal' class='modal hide slide' tabindex='-1' role='dialog' aria-hidden='true'>
    <h2> my trails </h2>
    {{#if trails}}
      <ul>
        {{#each trails}}
          {{> myTrails}}
        {{/each}}
      </ul>
    {{else}}
    <p> You don't have any trails favourited </p>
    {{/if}}
</template>

<template name='myTrails'>
  <li> <a href='#' class='my-trail'>{{this.name}}</a></li>
</template>