
<head>
  <title> Trailmix : Hiking the World </title>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300italic,700' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Merriweather:400,700,300,900' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700' rel='stylesheet' type='text/css'>
</head>
<body>
  {{> navigation}}
  <div class='content-wrapper'>
    <div class='map-wrapper'>
      {{> mapView}}
      <div class='map-shadow'></div>
    </div>
    <div class='sidebar'>
      {{> sideBar}}
    </div>
  </div>
  {{> overlay}}
</body>

<template name='modals'>
  <div id='add-new-trail-modal' class='modal hide slide' tabindex='-1' role='dialog' aria-hidden='true'>
    <h2> new trail </h2>
    <form id='new-trail' name='new-trail'>
      <input class='trail-name' placeholder='Trail Name' type='text'>
      <input class='btn btn-primary' type='submit'>
    </form>
  </div>

  <div id='view-my-trails-modal' class='modal hide slide' tabindex='-1' role='dialog' aria-hidden='true'>
    <h2> my trails </h2>
    {{#if trails}}
      <ul>
        {{#each trails}}
          {{> myTrails}}
        {{/each}}
      </ul>
    {{else}}
    <p> You don't have any trails favourited </p>
    {{/if}}
</template>

<template name='myTrails'>
  <li> <a href='#' class='my-trail'>{{this.name}}</a></li>
</template>