<template name='editSidebar'>
  <div class='sidebar-navigation'>
    <a class='btn-back' href='#'>Browse Trails</a>
  </div>
    {{#isolate}}
      {{#with trail}}
      <div class='meta-wrapper'>
        <h2>
          {{#if this.name}}
            {{this.name}} {{else}}
          Untitled Trail
          {{/if}}
        </h2>
      </div>
      {{/with}}
    {{/isolate}}
    <ul id='edit-tabs' class='nav nav-tabs'>
      <li>
        <a class='description {{#if descriptionTab}} active {{/if}}'>Description</a>
      </li>
      <li>
        <a class='features {{#if featuresTab}} active {{/if}}'>Features</a>
      </li>
    </ul>

    <div id='edit-tabs-content' class='tab-content'>

      {{#if featuresTab}}
      <div class='tab-pane' id='features'>
        <div id='features'>
          {{#unless editingFeature}}
          <div class='add-new'>
            <button class='btn upload'> Upload GPX </button>
            <button class='btn btn-blue'> New Feature </button>
            <input type='file' id='upload-field'>
          </div>
          <ul>
            {{#each features}}
              {{>feature}}
            {{/each}}
          </ul>
          {{/unless}}
          {{#if editingFeature}}
          {{#with editingFeature}}

            <form id='feature-form'>
              <div class='add-new'>
                <button class='back btn'>Back</button>
                <button class='save btn btn-blue'>Save</button>
              </div>
              <label> Feature Name
                <input type='text' class='name' value='{{this.properties.name}}'>
              </label> Feature Type
                <select>
                  <option> Marker </option>
                  <option> Line </option>
                </select>
              </label>
              <label> Description
                <textarea class='description'>
                  {{this.properties.description}}
                </textarea>
              </label>
              <button class='btn btn-green place'>Place Marker</button>
            </form>
            <br>
            {{/with}}
          {{/if}}
        </div>
      </div>
      {{/if}}

      {{#if descriptionTab}}
      <div class='tab-pane'>
        <div class='sidebar-wrapper'>
          {{#with trail}}
          <form id='trail-metadata'>
            <label> Name
              <input type='text' class='trail-name large' value='{{this.name}}'>
            </label>
            <div class='trailhead'>
              <button class='btn trailorigin'>
                <i class='icon icon-screenshot'></i>
                Select Trailhead
              </button>
              {{#if this.trailhead}}
                <span> trailhead </span>
              {{/if}}
            </div>
            <label> Description
              <textarea id='trail-description' class='trail-description'>{{#if this.description}}{{this.description}}{{/if}}</textarea>
            </label>
            {{>autoComplete}}
            <div class='align-right'>
              <button class='btn btn-green publish'>Make Public</button>
              <input type='submit' class='btn btn-blue large' value='Save Changes'>
            </div>

          </form>
          {{/with}}
        </div>
      </div>
      {{/if}}
    </div>
</template>

<template name='autoComplete'>
  {{#if tagging}}
    <ul id='autocomplete'>
      {{#each tagResult}}
        {{#isolate}}
          <li> {{name}} </li>
        {{/isolate}}
      {{/each}}
    <ul>
  {{/if}}
</template>

<template name='feature'>
  <li class='feature-instance {{#if selected}} selected {{/if}}'>
    <div class='type'>
      {{#if this.properties.markerSymbol}}
        <img id='{{this._id}}' src='/images/icons/{{properties.markerSymbol}}-24.png'>
      {{else}}
        <img id='{{this._id}}' src='/images/icons/marker-24.png'>
      {{/if}}
    </div>
    <div class='name'>
      {{this.properties.name}}
    </div>
    <a class='edit action' href='#'>
      <img src='/images/icons/edit-icon.png'>
    </a>
    <a class='delete action' href='#'>
      <img src='/images/icons/delete-icon.png'>
    </a>
  </li>
</template>