<template name='overlay'>
  {{#if overlay}}
    <div id='overlay' class='overlay'>
      <div class='cover'></div>
      <div id='panel' class='panel wrapper'>

        {{#if newTrail}}
          {{>newTrail}}
        {{/if}}

        {{#if viewLibrary}}
          {{>viewLibrary}}
        {{/if}}

      </div>
    </div>
  {{/if}}
</template>


<template name='newTrail'>
  <header>
    <h5> Create a Trail </h5>
    <button class='close'>×</button>
  </header>
  <div class='panel-body'>

  </div>
</template>

<template name='viewLibrary'>
  <header>
    <h5> Select a Trail </h5>
    <button class='close'>×</button>
  </header>
  <div class='panel-body'>
    <div class='wrapper-inset'>
      <ul class='nav nav-list'>
        {{#each trails}}
          {{> trailList}}
        {{else}}
          <p> No Trails</p>
        {{/each}}
      </ul>
    </div>
  </div>
</template>

<template name='trailList'>
  <li>
    <a href='#' class='trail-name'>
      {{name}}
    </a>
  </li>
</template>