<template name='sideBar'>
  <div id='carousel' class='carousel'>
    <ul id='carousel-inner' class='carousel-inner' style='width: {{totalWidth}}px;
    {{#if browsingView}} -webkit-transform: translate3d(0px, 0, 0);'>
    {{else}} -webkit-transform: translate3d({{position}}px, 0, 0);'>
    {{/if}}
      <li class='carousel-item' style='width: {{width}}px; height: {{height}}px;'>
        {{>browseView}}
      </li>
      <li class='carousel-item' style='width: {{width}}px; height: {{height}}px;'>
        {{>detailView}}
      </li>
    </ul>
  </div>
</template>

<template name='browseView'>
  <ul class='browse-list'>
    {{#each trail}}
      {{>browseTrailList}}
    {{else}}
      <p> No trails </p>
    {{/each}}
  </ul>
</template>

<template name='browseTrailList'>
  <li class='{{hover}} {{selected}}'>
    <a href='#'> {{name}} </a>
    <i class='icon icon-chevron-right'></i>
  </li>
</template>

<template name='detailView'>
  <div class='sidebar-navigation'>
    {{#unless isEditing}}
    <button class='btn back' href='#'><i class='icon-arrow-left'></i> Browse Trails</button>
    {{/unless}}
    {{#if isEditing}}
    <button class='btn toggle-edit btn-blue' href='#'> Done </button>
    {{else}}
    <button class='btn toggle-edit' href='#'> Edit </button>
    {{/if}}
  </div>
  {{#isolate}}
    {{#with trail}}
      <div class='meta-wrapper'>
        <h2> {{this.name}} </h2>
      </div>
      {{>trailTabView}}
    {{/with}}
  {{/isolate}}
</template>

<template name='trailTabView'>
  <ul id='edit-tabs' class='nav nav-tabs'>
    <li>
      <a class='description {{#if descriptionTab}} active {{/if}}'>
        Description</a>
    </li>
    {{#if isEditing}}
    <li>
      <a class='features {{#if featuresTab}} active {{/if}}'>Features</a>
    </li>
    {{/if}}
  </ul>
  <div id='edit-tabs-content' class='tab-content'>
    {{#if descriptionTab}}
      {{>descriptionTab}}
    {{/if}}
    {{#if featuresTab}}
     {{>featuresTab}}
    {{/if}}
  </div>
</template>

<template name='descriptionTab'>
  <div class='tab-pane'>
    <div class='sidebar-wrapper'>
      {{#with trail}}
      {{#if isEditing}}
      <form id='trail-metadata'>
        <label> Name
          <input name='name' type='text' class='trail-name large' value='{{this.name}}'>
        </label>
        <div class='trailhead'>
          <a class='btn trailorigin'>
            <i class='icon-left icon-screenshot'></i>
            Select Trailhead
          </a>
        </div>
        <label> Description
          <textarea name='description' id='trail-description' class='trail-description'>{{#if this.description}}{{this.description}}{{/if}}</textarea>
        </label>
        {{>autoComplete}}
        {{>saved}}
      </form>
      {{else}}
        <p class='description'> {{this.description}} </p>
      {{/if}}
      {{/with}}
    </div>
  </div>
</template>

<template name='saved'>
  <p class='save-status'>
    {{saved}}
  </p>
</template>

<template name='autoComplete'>
  {{#if tagging}}
    <ul id='autocomplete'>
      {{#each tagResult}}
        {{#isolate}}
          <li> {{name}} </li>
        {{/isolate}}
      {{/each}}
    <ul>
  {{/if}}
</template>

<template name='featuresTab'>
  <div class='tab-pane' id='features'>
    <div id='features'>
      {{#unless editingFeature}}
      <div class='add-new'>
        <div class='dropdown'>
          <button class='btn btn-blue new-feature dropdown-toggle'> New Feature <i class='icon-caret-down icon-right'></i> </button>
          <ul class='dropdown-menu' role='menu'>
            <li><a class='new-marker' tabindex='-1' href='#'><i class='icon-circle'></i>Marker</a></li>
            <li><a class='new-linestring' tabindex='-1' href='#'><i class='icon-resize-horizontal'></i>LineString</a></li>
            <li class='divider'></li>
            <li><a class='new-from-gpx' tabindex='-1' href='#'><i class='icon-paste'></i>Copy from GPX</a></li>
          </ul>
        </div>
        <input type='file' id='upload-field'>
      </div>
      <ul>
        {{#each features}}
          {{>feature}}
        {{/each}}
      </ul>
      {{/unless}}
      {{#if editingFeature}}
        {{>editingFeature}}
      {{/if}}
    </div>
  </div>
</template>

<template name='editingFeature'>
  {{#with editingFeature}}
  <div class='button-list'>
      <button class='btn back'><i class='icon-arrow-left'></i>Feature List</button>
      {{#isolate}}
       <p> {{saveStatus}} </p>
      {{/isolate}}
    </div>
  <form id='feature-form'>
    <label> Feature Name
      <input type='text' class='name' id='name' value='{{this.properties.name}}'>
    </label>
    {{#isolate}}
      {{#if featureTypePoint}}
      <button class='btn btn-green place'>Place Marker</button>
      {{else}}
      <button class='btn btn-green draw'>
        {{#if drawingFeature}}
         Finish Drawing LineString
        {{else}}
          Draw LineString
        {{/if}}
        </button>
      {{/if}}
    {{/isolate}}

    {{#isolate}}
      {{#if featureTypePoint}}
      <label> Icon
        <ul class='icons'>
          {{#each icons}}
            {{>iconList}}
          {{/each}}
        </ul>
      </label>
      {{/if}}
    {{/isolate}}
    <label> Feature Description
      <textarea id='description' class='desc'>
        {{this.properties.description}}
      </textarea>
    </label>
  </form>
  {{/with}}
</template>

<template name='iconList'>
  <li class='{{selectedIcon}}'><img src='/images/icons/{{this.name}}-24.png'></li>
</template>

<template name='feature'>
  <li class='feature-instance {{#if selected}} selected {{/if}}'>
    <div class='type'>
      {{#if this.properties.sym}}
        <img id='{{this._id}}' src='/images/icons/{{properties.sym}}-24.png'>
      {{else}}
        <img id='{{this._id}}' src='/images/icons/marker-24.png'>
      {{/if}}
    </div>
    <div class='name'>
      {{this.properties.name}}
    </div>
    <a class='edit action' href='#'><i class='icon icon-edit'></i></a>
    <a class='delete action' href='#'><i class='icon icon-trash'></i></a>
  </li>
</template>

