<template name='sideBar'>
  <div id='carousel' class='carousel'>
    <ul id='carousel-inner' class='carousel-inner' style='width: {{totalWidth}}px;
    {{#if browsingView}} -webkit-transform: translate3d(0px, 0, 0);'>
    {{else}} -webkit-transform: translate3d({{position}}px, 0, 0);'>
    {{/if}}
      <li class='carousel-item' style='width: {{width}}px; height: {{height}}px;'>
      {{>browseView}}
      </li>

      <li class='carousel-item' style='width: {{width}}px; height: {{height}}px;'>
        {{>detailView}}
      </li>
    </ul>
  </div>
</template>

<template name='browseView'>
  <ul class='browse-list'>
    {{#each trail}}
      {{>browseTrailList}}
    {{else}}
      <p> No trails </p>
    {{/each}}
  </ul>
</template>

<template name='browseTrailList'>
  <li>
    <a href='#'> {{name}} </a>
  </li>
</template>

<template name='detailView'>
  {{#if isEditing}}
    {{>editSidebar}}
  {{else}}
    {{#with trail}}
      <h2> {{this.name}} </h2>
      <p> {{this.description}} </p>
      <button class='edit-trail'>Edit</button>
    {{/with}}
  {{/if}}
</template>

