@import 'fiddleware/mixins'
@import 'fiddleware/variables'

#features
  width 100%
  box-sizing border-box

  &.dragover
    background blue

#edit-tabs
  padding 0
  padding-left 15px

.sidebar
  box-shadow 0 0 20px rgba(0,0,0,0.2)

.tab-controls
  $clearfix()
  padding 10px
  border-bottom 1px dotted #eee


#features ul
  list-style-type none
  padding-left 0
  width 100%
  margin 0
  box-sizing border-box

  & li
    font-size 14px
    padding 0 15px
    border-bottom 1px dotted #eee
    margin-bottom -1px
    position relative
    $clearfix()

    &.selected
      background $blue
      color $white
      border-bottom 1px solid transparent

      & i
        opacity 1

      &:hover
        background $blue


    &:hover
      cursor pointer
      background #efefef

      & i
        opacity 1

    & .type
      float left
      padding-left 0
      line-height 33px
      margin-right 10px

      & img
        margin-left 0
        vertical-align middle
        width 24px
        height 24px

    & .name
      float left
      line-height 35px

    & .controls
      float right

    & i
      position absolute
      top 10px
      right 10px
      opacity 0.3

.meta-wrapper
  padding 17px 15px
  $clearfix()

  & h2
    float left

  & button
    float right
    margin-top 10px

#edit-tabs-content
  padding 0