@import 'fiddleware/mixins'
@import 'fiddleware/variables'

#features
  width 100%
  box-sizing border-box

  &.dragover
    background blue

#edit-tabs
  padding 0
  padding-left 15px

.sidebar
  box-shadow 0 0 20px rgba(0,0,0,0.2)

.tab-controls
  $clearfix()
  padding 10px
  border-bottom 1px dotted #eee


#features ul
  list-style-type none
  padding-left 0
  width 100%
  margin 0
  box-sizing border-box

  & li
    font-size 12px
    padding 0 7px
    border-bottom 1px solid rgb(245, 245, 245)
    border-top 1px solid rgb(245, 245, 245)
    margin-top -1px
    position relative
    $clearfix()

    &:hover
      cursor pointer

    &.selected
      background $blue
      color $white
      border-bottom 1px solid transparent

      &:hover
        background $blue

    & .type
      float left
      padding-left 0
      line-height 34px
      margin-right 6px

      & img
        margin-left 0
        vertical-align middle
        width 24px
        height 24px

    & .name
      float left
      margin-top 10px

    & .controls
      float right

    & a.action
      position absolute
      top 0
      width 35px
      height 36px
      border 1px solid rgb(245, 245, 245)
      border-bottom none
      border-top none
      color #333
      text-decoration none
      text-align center

      & .icon
        line-height 36px
        font-size 20px

      & .icon-edit
        line-height 39px

      &:hover
        cursor default
        background #ddd

      &:hover img
        opacity 1

    & img
      padding 5px
      padding-left 3px

    & a.delete
      right 15px

      & img
        padding-left 2px
        padding 5px

    & a.edit
      right 52px
      border-right none


.meta-wrapper
  padding 5px 15px
  padding-bottom 12px
  $clearfix()

  & h2
    float left

  & button
    float right
    margin-top 10px

#edit-tabs
  position absolute
  top 110px
  width 100%

#edit-tabs-content
  padding 0

.add-new
  text-align right
  padding 10px

  & .btn
    display inline-block

#upload-field
  display none

.trailhead
  padding-top 20px
  padding-bottom 8px

  & i
    margin-left -5px
    margin-top 1px
    opacity 0.5

  & .trailorigin
    margin-left 0

.align-right
  text-align right

  & button
    display inline-block

  & input[type=submit]
    width auto
    display inline-block
    line-height 15px
    margin-top 4px

.sidebar-navigation
  padding 7px
  padding-bottom 0
  height 47px
  box-sizing border-box
  $clearfix()

ul.browse-list
  list-style none
  padding-left 0
  position: absolute
  top: 0
  bottom: 0
  left: 0
  height: 100%
  right: 0
  background white

  & li
    width 100%
    font-size 14px
    border-bottom 1px solid rgb(238, 238, 238)
    font-weight 400
    position relative

    &:hover
      background rgb(240, 250, 255)

    &.hover
      background rgb(240, 250, 255)

    &.selected
      background #08c
      color white
      opacity 1

      &:hover
        background #08c

      & a
        color white
        text-shadow 0 1px 1px rgba(0,0,0,0.2)

    & a
      display block
      padding 13px
      text-decoration none
      color #08c
      text-shadow 0 1px 1px rgba(255,255,255,0.2)

      &:hover i
        opacity 1

    & i
      position absolute
      top 16px
      right 10px
      opacity 0.6

p.description
  padding 0 15px

.btn-back
  float left

.toggle-edit
  float right

.button-list
  padding 10px 15px
  padding-bottom 5px
  height 55px
  box-sizing border-box
  border-bottom 1px solid rgb(245, 245, 245)
  $clearfix()

  & p
    float right

ul.icons
  display block
  float left
  margin-bottom 15px !important
  margin-top 5px !important
  width 100%
  $clearfix()

  & li
    float left
    border none !important
    line-height 10px
    padding 0 4px

    &:hover
      background #eee

    & img
      padding 0 !important
      margin 0

  & li.selected
    background #eee

a i.icon-left,
button i.icon-left
  margin-right 3px

a i.icon-right,
button i.icon-right
  margin-left 3px

#trail-metadata label i.icon-ok-circle
  display none
  font-size 14px

label
  position relative

label.saved i
  position absolute
  display block !important
  top 29px
  right 7px

#features .dropdown
  width 175px
  display inline-block

#features .dropdown ul
  border-radius 3px

  & li
    border none
    padding 0

    &.divider
      margin 4px 0
      padding 0

#features .dropdown .dropdown-menu a
  text-align left
  padding 3px 7px
  outline none

  & i
    margin-right 5px

.icon-arrow-left
  margin-right 6px

#features button.place
  margin-top 15px
  margin-left 0px