@import 'fiddleware/mixins'
@import 'fiddleware/variables'

#features
  width 100%
  box-sizing border-box

  &.dragover
    background blue

#edit-tabs
  padding 0
  padding-left 15px

.sidebar
  box-shadow 0 0 20px rgba(0,0,0,0.2)

.tab-controls
  $clearfix()
  padding 10px
  border-bottom 1px dotted #eee


#features ul
  list-style-type none
  padding-left 0
  width 100%
  margin 0
  box-sizing border-box

  & li
    font-size 12px
    padding 0 7px
    border-bottom 1px solid rgb(245, 245, 245)
    border-top 1px solid rgb(245, 245, 245)
    margin-top -1px
    position relative
    $clearfix()

    &.selected
      background $blue
      color $white
      border-bottom 1px solid transparent

      & i
        opacity 1

      &:hover
        background $blue


    &:hover
      cursor pointer
      background #f8f8f8

      & i
        opacity 1

    & .type
      float left
      padding-left 0
      line-height 34px
      margin-right 6px

      & img
        margin-left 0
        vertical-align middle
        width 24px
        height 24px

    & .name
      float left
      margin-top 10px

    & .controls
      float right

    & a.action
      position absolute
      top 0
      width 35px
      height 36px
      border 1px solid rgb(245, 245, 245)
      border-bottom none
      border-top none

      &:hover
        cursor default
        background #ddd

      &:hover img
        opacity 1

    & img
      padding 5px
      padding-left 3px

    & a.delete
      right 15px

      & img
        padding-left 2px
        padding 5px

    & a.edit
      right 52px
      border-right none


.meta-wrapper
  padding 5px 15px
  padding-bottom 12px
  $clearfix()

  & h2
    float left

  & button
    float right
    margin-top 10px

#edit-tabs-content
  padding 0

.add-new
  text-align right
  padding 10px

  & .btn
    display inline-block

#upload-field
  display none

.trailhead
  padding-top 10px

  & i
    margin-left -5px
    margin-top 1px
    opacity 0.5

  & .trailorigin
    margin-left 0

.align-right
  text-align right

  & button
    display inline-block

  & input[type=submit]
    width auto
    display inline-block
    line-height 15px
    margin-top 4px

.sidebar-navigation
  padding 7px
  padding-bottom 0

.browse-list
  list-style none
  padding-left 0
  position: absolute
  top: 0
  bottom: 0
  left: 0
  height: 100%
  right: 0
  background white

  & li
    width 100%
    padding 15px
    font-size 14px
    border-bottom 1px solid rgb(238, 238, 238)
    font-weight 600