.modal {
	position: fixed;
	left: 50%;
	top: 50%;
	max-height: 400px;
	min-height: 50px;
	overflow: auto;
	width: 560px;
	margin: -150px 0 0 -280px;
	border: 1px solid #eee;
	background-color: white;
	z-index: 1000;
}

.modal.hide {
	display: none;
}

.modal.hide.in {
	display: block;
}

.modal.slide {
	display: block;
	opacity: 0;
	-webkit-transition: top 400ms, opacity 400ms;
	top: -25%;
}

.modal.slide.in {
	opacity: 1;
	top: 50%; 
}