.carousel
	width 100%
	overflow hidden
	height 100%

ul.carousel-inner
	margin 0
	padding 0
	height 100%
	-webkit-transition 400ms

ul.carousel-inner li.carousel-item
	display table-cell
	list-style none
	width 100%
	overflow hidden
	position relative
	margin 0
	-webkit-user-select none