@import 'nib'
@import 'variables'

input
  border 0px
  border-radius 0
  margin 8px

  &[type='text']
  &[type='password']
  &[type='email']
    padding: 4px
    font-size: 12px
    box-sizing border-box
    border 1px solid rgba(213, 213, 213, 0.54)
    font-family $font-family
    background rgb(247, 245, 245)
    border-radius 0
    box-shadow: inset 1px 1px 1px rgba(0,0,0,0.3);

    &.large
      padding 7px
      font-size 13px

    &.wide
      width 100%

    &[type='submit']
      border-radius 2px

form
  display block
  box-sizing border-box
  margin 15px

  & input[type=submit]
    margin 5px 0

  & label
    display block
    font-size 12px
    margin-top 17px
    font-weight 600
    color #666
    text-transform uppercase

    & input
    & textarea
      margin 5px 0

  & input
    display block
    width 100%

  & button
    display block

  & textarea
    width 100%
    min-height 200px
    border-radius 0
    padding 5px
    background rgb(247, 245, 245)
    box-shadow: inset 1px 1px 1px rgba(0,0,0,0.3);
    box-sizing border-box
    border 1px solid rgba(213, 213, 213, 0.54)

.combined input[type=text]
  border-top-right-radius 0
  border-bottom-right-radius 0