@import 'nib'
@import 'variables'

h1
  font 600 50px $bold-font-family
  color #404853
  margin-bottom 8px
  margin-top 40px
  line-height 40px

h2
  font 800 23px $bold-font-family
  margin 7px 0px
  color #424b57
  text-overflow ellipsis
  overflow hidden
  white-space nowrap

h3
  font: 15px/1.7em 'Merriweather', Georgia, 'Times New Roman', 'Hoefler Text';
  margin: 6px 2px;
  margin-top: 5px;
  margin-bottom: 10px;
  color: rgb(89, 118, 141);

h4
  font: 800 17px 'Open Sans Condensed', 'Helvetica Neue', Helvetica, arial, sans-serif
  margin: 7px 0px
  height 23px
  color: #424b57
  width 100%
  text-overflow ellipsis
  overflow hidden
  white-space nowrap

h5
  margin-bottom: 4px
  margin-top: 10px
  color: #888
  font-size: 14px

h6
  font-size: 12px;
  font-family: 'open sans', 'helvetica neue', helvetica, arial, sans-serif;
  color: #777;
  font-weight 600
  padding: 0px;
  margin: 7px 0;
